.bubble{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .icon{
        height: 8rem;
        width: 100%;
        position: relative;
    }

    .title{
        font-weight: bold;
        font-size: 1.3rem;
    }

    .text{
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
    }
}