$accent: #001E60;
$lightAccent: #00A3E0;
$maxWidth: 1024px;

$navTopbarHeight: 5.5rem;
$navBottombarHeight: 3.3rem;
$navbarHeight: $navTopbarHeight + $navBottombarHeight;
$mainTopMargin: $navbarHeight + 2rem;