@import '../styles/variables';

$lightBlue: #0696B7;

.contatoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;

    .infos,
    .form {
        flex-basis: 50%;
        flex-grow: 0;
        //outline: 1px solid red;
    }

    .infos {
        background-color: $lightBlue;
        color: white;
        padding: 2rem 3rem;
        box-shadow: .35rem .35rem 10px 0px rgba(0, 0, 0, .6);

        *{font-size: 1.25rem; line-height: 1rem;}

        .section {
            margin-bottom: 2rem;

            .title {
                font-weight: bold;
            }
        }
    }
}